/*################################################ 


RESPONSIVE DEVICE
=============================
=============================

1. 1200 xlarge devices
2. 576px small devices
 

################################################*/


/*############################## 
Extra large: ---------
1. 1200 xlarge devices
##############################*/
@media screen and (max-width: 1200px){
    .nav {
        display: block;
        position: absolute;
        background: var(--mainColor);
        top: 0;
        left: -100%;
        padding: 120px 40px 40px;
        text-align: center;
    }
    .nav.active{
        left: 0%;
    }
    .nav li {
        display: block;
        margin-left: 0;
        margin-bottom: 20px;
    }
    li.mobile-cross {
        position: absolute;
        top: 40px;
        right: 40px;
        margin-bottom: 0;
    }
    li.mobile-cross i{
        font-size: 24px;
        color: var(--whiteColor);
    }
    .nav li:hover i{
        color: var(--textColor);

    }
    .nav li:last-child{
        margin-bottom: 0px;
    }
    .nav li a{
        color: var(--whiteColor);
    }
    .nav li a:hover{
        color: var(--textColor);
    }
    .mobile-menu {
        display: block;
    }
}


/*############################## 
Small Layout: ---------
2. 576px small devices
##############################*/
@media screen and (max-width: 576px){
    .header-logo a span {
        font-size: 20px;
    }
    .footer-contact h1 {
        font-size: 40px;
        line-height: 55px;
    }
    .footer-contact p br{
        display: none;
    }
    .footer-contact ul li {
        display: block;
        margin-right: 0;
        margin-top: 20px;
    }

}